<p>The articles in this folder are from Practicing Ruby's fifth volume, which ran from August 2012 to December 2012.</p>
<p>You can also read them for free online at practicingruby.com.</p>
<ul>
<li><a href="http://practicingruby.com/articles/intro-to-basic-statistical-methods">Issue 5.1: A practical application of basic statistical methods</a> (August 2012)</li>
<li><a href="http://practicingruby.com/articles/temporal-coupling-and-the-law-of-demeter">Issue 5.2: Temporal coupling and the Law of Demeter</a> (August 2012)</li>
<li><a href="http://practicingruby.com/articles/event-loops-demystified">Issue 5.3: Event loops demystified</a> (September 2012)</li>
<li><a href="http://practicingruby.com/articles/building-the-rstatus-api">Issue 5.4: Building the rstat.us API: Choices and challenges</a> (September 2012)</li>
<li><a href="http://practicingruby.com/articles/process-spawning-patterns">Issue 5.5: Process spawning patterns</a> (October 2012)</li>
<li><a href="http://practicingruby.com/articles/growing-a-stable-codebase">Issue 5.6: Guidelines for growing a stable codebase</a> (October 2012)</li>
<li><a href="http://practicingruby.com/articles/relationships-between-objects">Issue 5.7: Understanding the relationships between objects</a> (October 2012)</li>
<li><a href="http://practicingruby.com/articles/expanding-your-code-reading-horizons">Issue 5.8: Expanding your code reading horizons</a> (November 2012)</li>
<li><a href="http://practicingruby.com/articles/ant-colony-simulation">Issue 5.9: Simulating the emergent behavior of ant colonies</a> (November 2012)</li>
<li><a href="http://practicingruby.com/articles/adventure-in-prototypes">Issue 5.10: An adventure in prototypes</a> (December 2012)</li>
</ul>
