<p>The articles in this folder are from Practicing Ruby's 7th volume. You can also read them for free online at practicingruby.com.</p>
<ul>
<li><a href="http://practicingruby.com/articles/simulating-tiny-worlds">Issue 7.1: Simulating tiny worlds for fun and profit</a> (June 2013)</li>
<li><a href="http://practicingruby.com/articles/implementing-an-http-file-server">Issue 7.2: Implementing a minimal HTTP server in Ruby</a> (July 2013)</li>
<li><a href="http://practicingruby.com/articles/exploratory-data-analysis">Issue 7.3: Using data to explore questions about our lives</a> (August 2013)</li>
<li><a href="http://practicingruby.com/articles/improving-legacy-systems">Issue 7.4: Making incremental improvements to legacy systems</a> (September 2013)</li>
<li><a href="http://practicingruby.com/articles/low-level-computing">Issue 7.5: Exploring low-level computing concepts with Ruby</a> (October 2013)</li>
<li><a href="http://practicingruby.com/articles/infrastructure-automation">Issue 7.6: Infrastructure automation by example</a> (November 2013)</li>
<li><a href="http://practicingruby.com/articles/wumpus">Issue 7.7: Hunt the Wumpus: An exercise in creative coding</a> (December 2013)</li>
<li><a href="http://practicingruby.com/articles/sustainable-foss-quality">Issue 7.8: Sustainable FOSS: Focus on quality first</a> (February 2014)</li>
<li><a href="http://practicingruby.com/articles/study-guide-1">Issue 7.9: A self guided course on streams, files, file formats, and sockets</a> (March 2014)</li>
<li><a href="http://practicingruby.com/articles/information-anatomy">Issue 7.10: The anatomy of information in software systems</a> (September 2014)</li>
</ul>
