<p>These articles are from Practicing Ruby's second volume, which ran from 2011-08-23 to 2011-11-30. The manuscripts in this folder correspond to the following articles on practicingruby.com:</p>
<ul>
<li><a href="http://practicingruby.com/articles/ways-to-load-code">Issue 2.1: Ways to load code</a> (2011.08.23)</li>
<li><a href="http://practicingruby.com/articles/ways-to-load-code">Issue 2.2: How to attack sticky problems</a> (2011.08.30)</li>
<li><a href="http://practicingruby.com/articles/closures-are-complicated">Issue 2.3: A closure is a double edged sword</a> (2011.09.06)</li>
<li><a href="http://practicingruby.com/articles/building-enumerable-and-enumerator">Issue 2.4: Implementing Enumerable and Enumerator in Ruby</a> (2011.09.13)</li>
<li><a href="http://practicingruby.com/articles/regession-testing">Issue 2.5: Thoughts on regression testing</a> (2011.09.20)</li>
<li><a href="http://practicingruby.com/articles/learning-new-things-step-by-step">Issue 2.6: Learning new things, step by step</a> (2011.09.27)</li>
<li><a href="http://practicingruby.com/articles/unobtrusive-ruby-in-practice">Issue 2.7: &quot;Unobtrusive Ruby&quot; in practice</a> (2011.10.04)</li>
<li><a href="http://practicingruby.com/articles/ruby-and-the-singleton-pattern-dont-get-along">Issue 2.8: Ruby and the singleton pattern don't get along</a> (2011.10.11)</li>
<li><a href="http://practicingruby.com/articles/building-unix-style-command-line-applications">Issue 2.9: Building Unix-style command line applications</a> (2011.10.18)</li>
<li><a href="http://practicingruby.com/articles/from-requirements-discovery-to-release">Issue 2.10: From requirements discovery to release</a> (2011.10.27)</li>
<li><a href="http://practicingruby.com/articles/domain-specific-apis">Issue 2.11: Domain specific API construction</a> (2011.11.02)</li>
<li><a href="http://practicingruby.com/articles/binary-file-formats">Issue 2.12: Working with binary file formats</a> (2011.11.09)</li>
<li><a href="http://blank">Issue 2.13: Designing business reporting applications</a> (2011.11.17)</li>
<li><a href="http://practicingruby.com/articles/arguments-and-results-1">Issue 2.14: Thoughts on &quot;Arguments and Results&quot;, Part 1</a> (2011.11.23)</li>
<li><a href="http://practicingruby.com/articles/arguments-and-results-2">Issue 2.15: Thoughts on &quot;Arguments and Results&quot;, Part 2</a> (2011.11.30)</li>
</ul>
