<h1 id="section"></h1>
<p>These articles are from Practicing Ruby's first volume, which ran from 2010-11-09 to 2011-02-29. The manuscripts in this folder correspond to the following articles on practicingruby.com:</p>
<ul>
<li><a href="http://practicingruby.com/articles/method-lookup-1">Issue 1.1: Ruby's method lookup path, Part 1</a> (2010.11.09)</li>
<li><a href="http://practicingruby.com/articles/method-lookup-2">Issue 1.2: Ruby's method lookup path, Part 2</a> (2010.11.11)</li>
<li><a href="http://practicingruby.com/articles/configurable-applications-1">Issue 1.3: Writing configurable applications, Part 1</a> (2010.11.16)</li>
<li><a href="http://practicingruby.com/articles/configurable-applications-2">Issue 1.4: Writing configurable applications, Part 2</a> (2010.11.18)</li>
<li><a href="http://practicingruby.com/articles/testing-private-methods">Issue 1.5: Testing antipatterns; Testing private methods</a> (2010.11.25)</li>
<li><a href="http://practicingruby.com/articles/meditations-on-bad-and-good-code-1">Issue 1.6: Meditations on bad and good code, Part 1</a> (2010.12.01)</li>
<li><a href="http://practicingruby.com/articles/meditations-on-bad-and-good-code-2">Issue 1.7: Meditations on bad and good code, Part 2</a> (2010.12.03)</li>
<li><a href="http://practicingruby.com/articles/uses-for-modules-1">Issue 1.8: Uses for modules, Part 1</a> (2010.12.08)</li>
<li><a href="http://practicingruby.com/articles/uses-for-modules-2">Issue 1.9: Uses for modules, Part 2</a> (2010.12.10)</li>
<li><a href="http://practicingruby.com/articles/uses-for-modules-3">Issue 1.10: Uses for modules, Part 3</a> (2010.12.14)</li>
<li><a href="http://practicingruby.com/articles/uses-for-modules-3a">Issue 1.10.a: Addendum to Uses for modules, Part 3</a> (2010.12.15)</li>
<li><a href="http://practicingruby.com/articles/uses-for-modules-4">Issue 1.11: Uses for Modules, Part 4</a> (2010.12.16)</li>
<li><a href="http://practicingruby.com/articles/rapid-prototyping">Issue 1.12: Rapid Prototyping</a> (2010.12.21)</li>
<li><a href="http://practicingruby.com/articles/obfuscations-of-christmas-past">Issue 1.13: Obfuscations of Christmas Past</a> (2010.12.23)</li>
<li><a href="http://practicingruby.com/articles/duck-typing-in-practice-1">Issue 1.14: Duck typing in practice, Part 1</a> (2010.12.28)</li>
<li><a href="http://practicingruby.com/articles/duck-typing-in-practice-2">Issue 1.15: Duck typing in practice, Part 2</a> (2010.12.31)</li>
<li><a href="http://practicingruby.com/articles/ruby-hackers">Issue 1.16: Interesting ruby hackers</a> (2011.01.03)</li>
<li><a href="http://practicingruby.com/articles/ruby-hacker-writers">Issue 1.17: Interesting ruby hacker-writers</a> (2011.01.07)</li>
<li><a href="http://practicingruby.com/articles/dirty-testing-secrets">Issue 1.18: Dirty little secrets about testing</a> (2011.01.14)</li>
<li><a href="http://practicingruby.com/articles/thoughts-on-mocking-1">Issue 1.19: Thoughts on mocking, Part 1</a> (2011.01.19)</li>
<li><a href="http://practicingruby.com/articles/thoughts-on-mocking-2">Issue 1.20: Thoughts on mocking, Part 2</a> (2011.01.22)</li>
<li><a href="http://practicingruby.com/articles/how-to-practice-1">Issue 1.21: How to practice, Part 1</a> (2011.01.26)</li>
<li><a href="http://practicingruby.com/articles/how-to-practice-2">Issue 1.22: How to practice, Part 2</a> (2011.01.28)</li>
<li><a href="http://practicingruby.com/articles/solid-design-principles">Issue 1.23: SOLID design principles</a> (2011.02.05)</li>
<li><a href="http://practicingruby.com/articles/connascence">Issue 1.24: Connascence as a software design metric</a> (2011.02.11)</li>
<li><a href="http://practicingruby.com/articles/creational-design-patterns">Issue 1.25: Creational Design Patterns</a> (2011.02.22)</li>
<li><a href="http://practicingruby.com/articles/structural-design-patterns">Issue 1.26: Structural design patterns</a> (2011.02.28)</li>
</ul>
