<p>These articles are from Practicing Ruby's third volume, which ran from 2012-01-03 to 2012-03-13. The manuscripts in this folder correspond to the following articles on practicingruby.com:</p>
<ul>
<li><a href="http://practicingruby.com/articles/qualities-of-great-software">Issue 3.1: The qualities of great software</a> (2012.01.03)</li>
<li><a href="http://practicingruby.com/articles/patterns-for-building-excellent-examples">Issue 3.2: Patterns for building excellent examples</a> (2012.01.10)</li>
<li><a href="http://practicingruby.com/articles/exploring-a-turing-tarpit">Issue 3.3: Exploring the depths of a Turing tarpit</a> (2012.01.17)</li>
<li><a href="http://practicingruby.com/articles/spiral-staircase-of-refactoring">Issue 3.4: Building a better Turing tarpit</a> (2012.01.25)</li>
<li><a href="http://practicingruby.com/articles/framework-design-and-implementation-1">Issue 3.5: Framework design and implementation, Part 1</a> (2012.02.02)</li>
<li><a href="http://practicingruby.com/articles/framework-design-and-implementation-2">Issue 3.6: Framework design and implementation, Part 2</a> (2012.02.08)</li>
<li><a href="http://practicingruby.com/articles/disciplined-inheritance-1">Issue 3.7: Criteria for disciplined inheritance, Part 1</a> (2012.02.15)</li>
<li><a href="http://practicingruby.com/articles/disciplined-inheritance-1">Issue 3.8: Criteria for disciplined inheritance, Part 2</a> (2012.02.21)</li>
<li><a href="http://practicingruby.com/articles/using-games-to-practice-domain-modeling">Issue 3.9: Using games to practice domain modeling</a> (2012.02.28)</li>
<li><a href="http://practicingruby.com/articles/coding-in-the-danger-zone">Issue 3.10: Lessons learned from coding in the danger zone</a> (2012.03.13)</li>
</ul>
<p>If you enjoy what you read here, please subscribe to <a href="http://practicingruby.com">Practicing Ruby</a>. These articles would not exist without the support of our paid subscribers.</p>
