<h1 id="sinatra-projects">Sinatra projects</h1>
<p>www.sinatrarb.com/testing.html</p>
<p>http://recipes.sinatrarb.com/p/testing/rspec</p>
<p>http://hackers.lookout.com/2014/01/testing-rack-based-apis-with-cucumber-and-rspec/</p>
<p>http://tarynsauer.tumblr.com/post/72337538488/using-rspec-to-test-sinatra-controller</p>
<p>http://stackoverflow.com/questions/7292061/testing-rest-api-responses-with-rspec-and-racktest</p>
<p>http://devblog.avdi.org/2014/07/08/zero-to-smoke-test-with-sinatra/</p>
<p>http://www.relishapp.com/rspec/rspec-expectations/docs/built-in-matchers</p>
<p>http://stackoverflow.com/questions/25133321/set-up-for-rspec-in-a-sinatra-modular-app/27852660#27852660</p>
<p>http://stackoverflow.com/questions/21628400/test-a-sinatra-app-with-rspec-structure-of-tests/27852597#27852597</p>
<p>https://pragprog.com/book/7web/seven-web-frameworks-in-seven-weeks</p>
<p>http://robots.thoughtbot.com/how-to-test-sinatra-based-web-services</p>
