<h2 id="further-reading">Further Reading</h2>
<ul>
<li><a href="http://www.sinatrarb.com/">Project Website</a> - Additional documentation, news, and links to other resources.</li>
<li><a href="http://www.sinatrarb.com/contributing">Contributing</a> - Find a bug? Need help? Have a patch?</li>
<li><a href="http://github.com/sinatra/sinatra/issues">Issue tracker</a></li>
<li><a href="http://twitter.com/sinatra">Twitter</a></li>
<li><a href="http://groups.google.com/group/sinatrarb/topics">Mailing List</a></li>
<li>IRC: <a href="irc://chat.freenode.net/#sinatra">#sinatra</a> on http://freenode.net</li>
<li><a href="https://github.com/sinatra/sinatra-book/">Sinatra Book</a> Cookbook Tutorial</li>
<li><a href="http://recipes.sinatrarb.com/">Sinatra Recipes</a> Community contributed recipes</li>
<li>API documentation for the <a href="http://rubydoc.info/gems/sinatra">latest release</a> or the <a href="http://rubydoc.info/github/sinatra/sinatra">current HEAD</a> on http://rubydoc.info</li>
<li><a href="http://travis-ci.org/sinatra/sinatra">CI server</a></li>
</ul>
