<h2 id="sinatrabase---middleware-libraries-and-modular-apps">Sinatra::Base - Middleware, Libraries, and Modular Apps</h2>
<p>Defining your app at the top-level works well for micro-apps but has considerable drawbacks when building reusable components such as Rack middleware, Rails metal, simple libraries with a server component, or even Sinatra extensions. The top-level assumes a micro-app style configuration (e.g., a single application file, <code>./public</code> and <code>./views</code> directories, logging, exception detail page, etc.). That's where <code>Sinatra::Base</code> comes into play:</p>
<div class="sourceCode"><pre class="sourceCode ruby"><code class="sourceCode ruby">require <span class="st">&#39;sinatra/base&#39;</span>

<span class="kw">class</span> <span class="dt">MyApp</span> &lt; <span class="dt">Sinatra</span>::<span class="dt">Base</span>
  set <span class="st">:sessions</span>, <span class="dv">true</span>
  set <span class="st">:foo</span>, <span class="st">&#39;bar&#39;</span>

  get <span class="st">&#39;/&#39;</span> <span class="kw">do</span>
    <span class="st">&#39;Hello world!&#39;</span>
  <span class="kw">end</span>
<span class="kw">end</span></code></pre></div>
<p>The methods available to <code>Sinatra::Base</code> subclasses are exactly the same as those available via the top-level DSL. Most top-level apps can be converted to <code>Sinatra::Base</code> components with two modifications:</p>
<ul>
<li>Your file should require <code>sinatra/base</code> instead of <code>sinatra</code>; otherwise, all of Sinatra's DSL methods are imported into the main namespace.</li>
<li>Put your app's routes, error handlers, filters, and options in a subclass of <code>Sinatra::Base</code>.</li>
</ul>
<p><code>Sinatra::Base</code> is a blank slate. Most options are disabled by default, including the built-in server. See <a href="http://sinatra.github.com/configuration.html">Configuring Settings</a> for details on available options and their behavior. If you want behavior more similar to when you define your app at the top level (also known as Classic style), you can subclass <code>Sinatra::Application</code>.</p>
<div class="sourceCode"><pre class="sourceCode ruby"><code class="sourceCode ruby">require <span class="st">&#39;sinatra/base&#39;</span>

<span class="kw">class</span> <span class="dt">MyApp</span> &lt; <span class="dt">Sinatra</span>::<span class="dt">Application</span>
  get <span class="st">&#39;/&#39;</span> <span class="kw">do</span>
    <span class="st">&#39;Hello world!&#39;</span>
  <span class="kw">end</span>
<span class="kw">end</span></code></pre></div>
<h3 id="modular-vs.-classic-style">Modular vs. Classic Style</h3>
<p>Contrary to common belief, there is nothing wrong with the classic style. If it suits your application, you do not have to switch to a modular application.</p>
<p>The main disadvantage of using the classic style rather than the modular style is that you will only have one Sinatra application per Ruby process. If you plan to use more than one, switch to the modular style. There is no reason you cannot mix the modular and the classic styles.</p>
<p>If switching from one style to the other, you should be aware of slightly different default settings:</p>
<table>
<tr>
<pre><code>&lt;th&gt;Setting&lt;/th&gt;
&lt;th&gt;Classic&lt;/th&gt;
&lt;th&gt;Modular&lt;/th&gt;
&lt;th&gt;Modular&lt;/th&gt;</code></pre>
</tr>
<tr>
<pre><code>&lt;td&gt;app_file&lt;/td&gt;
&lt;td&gt;file loading sinatra&lt;/td&gt;
&lt;td&gt;file subclassing Sinatra::Base&lt;/td&gt;
&lt;td&gt;file subclassing Sinatra::Application&lt;/td&gt;</code></pre>
</tr>
<tr>
<pre><code>&lt;td&gt;run&lt;/td&gt;
&lt;td&gt;$0 == app_file&lt;/td&gt;
&lt;td&gt;false&lt;/td&gt;
&lt;td&gt;false&lt;/td&gt;</code></pre>
</tr>
<tr>
<pre><code>&lt;td&gt;logging&lt;/td&gt;
&lt;td&gt;true&lt;/td&gt;
&lt;td&gt;false&lt;/td&gt;
&lt;td&gt;true&lt;/td&gt;</code></pre>
</tr>
<tr>
<pre><code>&lt;td&gt;method_override&lt;/td&gt;
&lt;td&gt;true&lt;/td&gt;
&lt;td&gt;false&lt;/td&gt;
&lt;td&gt;true&lt;/td&gt;</code></pre>
</tr>
<tr>
<pre><code>&lt;td&gt;inline_templates&lt;/td&gt;
&lt;td&gt;true&lt;/td&gt;
&lt;td&gt;false&lt;/td&gt;
&lt;td&gt;true&lt;/td&gt;</code></pre>
</tr>
<tr>
<pre><code>&lt;td&gt;static&lt;/td&gt;
&lt;td&gt;true&lt;/td&gt;
&lt;td&gt;false&lt;/td&gt;
&lt;td&gt;true&lt;/td&gt;</code></pre>
</tr>
</table>
<h3 id="serving-a-modular-application">Serving a Modular Application</h3>
<p>There are two common options for starting a modular app, actively starting with <code>run!</code>:</p>
<div class="sourceCode"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span class="co"># my_app.rb</span>
require <span class="st">&#39;sinatra/base&#39;</span>

<span class="kw">class</span> <span class="dt">MyApp</span> &lt; <span class="dt">Sinatra</span>::<span class="dt">Base</span>
  <span class="co"># ... app code here ...</span>

  <span class="co"># start the server if ruby file executed directly</span>
  run! <span class="kw">if</span> app_file == <span class="dt">$0</span>
<span class="kw">end</span></code></pre></div>
<p>Start with:</p>
<pre class="shell"><code>ruby my_app.rb</code></pre>
<p>Or with a <code>config.ru</code> file, which allows using any Rack handler:</p>
<div class="sourceCode"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span class="co"># config.ru (run with rackup)</span>
require <span class="st">&#39;./my_app&#39;</span>
run <span class="dt">MyApp</span></code></pre></div>
<p>Run:</p>
<pre class="shell"><code>rackup -p 4567</code></pre>
<h3 id="using-a-classic-style-application-with-a-config.ru">Using a Classic Style Application with a config.ru</h3>
<p>Write your app file:</p>
<div class="sourceCode"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span class="co"># app.rb</span>
require <span class="st">&#39;sinatra&#39;</span>

get <span class="st">&#39;/&#39;</span> <span class="kw">do</span>
  <span class="st">&#39;Hello world!&#39;</span>
<span class="kw">end</span></code></pre></div>
<p>And a corresponding <code>config.ru</code>:</p>
<div class="sourceCode"><pre class="sourceCode ruby"><code class="sourceCode ruby">require <span class="st">&#39;./app&#39;</span>
run <span class="dt">Sinatra</span>::<span class="dt">Application</span></code></pre></div>
<h3 id="when-to-use-a-config.ru">When to use a config.ru?</h3>
<p>A <code>config.ru</code> file is recommended if:</p>
<ul>
<li>You want to deploy with a different Rack handler (Passenger, Unicorn, Heroku, ...).</li>
<li>You want to use more than one subclass of <code>Sinatra::Base</code>.</li>
<li>You want to use Sinatra only for middleware, and not as an endpoint.</li>
</ul>
<p><strong>There is no need to switch to a <code>config.ru</code> simply because you switched to the modular style, and you don't have to use the modular style for running with a <code>config.ru</code>.</strong></p>
<h3 id="using-sinatra-as-middleware">Using Sinatra as Middleware</h3>
<p>Not only is Sinatra able to use other Rack middleware, any Sinatra application can in turn be added in front of any Rack endpoint as middleware itself. This endpoint could be another Sinatra application, or any other Rack-based application (Rails/Ramaze/Camping/...):</p>
<div class="sourceCode"><pre class="sourceCode ruby"><code class="sourceCode ruby">require <span class="st">&#39;sinatra/base&#39;</span>

<span class="kw">class</span> <span class="dt">LoginScreen</span> &lt; <span class="dt">Sinatra</span>::<span class="dt">Base</span>
  enable <span class="st">:sessions</span>

  get(<span class="st">&#39;/login&#39;</span>) { haml <span class="st">:login</span> }

  post(<span class="st">&#39;/login&#39;</span>) <span class="kw">do</span>
    <span class="kw">if</span> params[<span class="st">&#39;name&#39;</span>] == <span class="st">&#39;admin&#39;</span> &amp;&amp; params[<span class="st">&#39;password&#39;</span>] == <span class="st">&#39;admin&#39;</span>
      session[<span class="st">&#39;user_name&#39;</span>] = params[<span class="st">&#39;name&#39;</span>]
    <span class="kw">else</span>
      redirect <span class="st">&#39;/login&#39;</span>
    <span class="kw">end</span>
  <span class="kw">end</span>
<span class="kw">end</span>

<span class="kw">class</span> <span class="dt">MyApp</span> &lt; <span class="dt">Sinatra</span>::<span class="dt">Base</span>
  <span class="co"># middleware will run before filters</span>
  use <span class="dt">LoginScreen</span>

  before <span class="kw">do</span>
    <span class="kw">unless</span> session[<span class="st">&#39;user_name&#39;</span>]
      halt <span class="st">&quot;Access denied, please &lt;a href=&#39;/login&#39;&gt;login&lt;/a&gt;.&quot;</span>
    <span class="kw">end</span>
  <span class="kw">end</span>

  get(<span class="st">&#39;/&#39;</span>) { <span class="st">&quot;Hello </span><span class="ot">#{</span>session[<span class="st">&#39;user_name&#39;</span>]<span class="ot">}</span><span class="st">.&quot;</span> }
<span class="kw">end</span></code></pre></div>
<h3 id="dynamic-application-creation">Dynamic Application Creation</h3>
<p>Sometimes you want to create new applications at runtime without having to assign them to a constant. You can do this with <code>Sinatra.new</code>:</p>
<div class="sourceCode"><pre class="sourceCode ruby"><code class="sourceCode ruby">require <span class="st">&#39;sinatra/base&#39;</span>
my_app = <span class="dt">Sinatra</span>.new { get(<span class="st">&#39;/&#39;</span>) { <span class="st">&quot;hi&quot;</span> } }
my_app.run!</code></pre></div>
<p>It takes the application to inherit from as an optional argument:</p>
<div class="sourceCode"><pre class="sourceCode ruby"><code class="sourceCode ruby"><span class="co"># config.ru (run with rackup)</span>
require <span class="st">&#39;sinatra/base&#39;</span>

controller = <span class="dt">Sinatra</span>.new <span class="kw">do</span>
  enable <span class="st">:logging</span>
  helpers <span class="dt">MyHelpers</span>
<span class="kw">end</span>

map(<span class="st">&#39;/a&#39;</span>) <span class="kw">do</span>
  run <span class="dt">Sinatra</span>.new(controller) { get(<span class="st">&#39;/&#39;</span>) { <span class="st">&#39;a&#39;</span> } }
<span class="kw">end</span>

map(<span class="st">&#39;/b&#39;</span>) <span class="kw">do</span>
  run <span class="dt">Sinatra</span>.new(controller) { get(<span class="st">&#39;/&#39;</span>) { <span class="st">&#39;b&#39;</span> } }
<span class="kw">end</span></code></pre></div>
<p>This is especially useful for testing Sinatra extensions or using Sinatra in your own library.</p>
<p>This also makes using Sinatra as middleware extremely easy:</p>
<div class="sourceCode"><pre class="sourceCode ruby"><code class="sourceCode ruby">require <span class="st">&#39;sinatra/base&#39;</span>

use <span class="dt">Sinatra</span> <span class="kw">do</span>
  get(<span class="st">&#39;/&#39;</span>) { ... }
<span class="kw">end</span>

run <span class="dt">RailsProject</span>::<span class="dt">Application</span></code></pre></div>
