<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <% @title = "equationoftime.herokuapp.com/rdoc.erb" %> 
   <meta name="description" content="" />
   <meta name="keywords" content="" />
 </head>
 <body>
   <p>
   <h2>Ruby Rdocs</h2>
   </p>
   <ul> 
   <% rd_arr.each do |page| %>
     <li>
       <a href="/rdview/<%= page%>"><%= formatter(page) %></a>
     </li>
   <% end %>
   </ul>
 </body>
</html>  
